@media (max-width:1400px) {
    .mid-content {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}
/* Max-width */
.mid-content{
    width: auto;
}

@media (max-width:1080px) {
    .logo span {
        font-size: 22px;
        margin-top: 17px;
        margin-left: 5px;
    }
    .primary-manu ul li a {
        font-size: 15px;
        padding: 15px 8px;
        margin-top: 8px;
    }
    .p-heading h1 {
        font-size: 55px;
    }
    .p-content ul li {
        font-size: 21px;
    }
    .service-section {
        padding: 50px 0;
    }
    .service-title h2 {
        font-size: 50px;
    }
    .section-title p {
        font-size: 25px;
    }
    .section-title h2 {
        font-size: 39px;
    }
    .t-content {
        font-size: 18px;
    }
    .t-user-img img {
        margin-left: 70px;
    }
    .contact-right-form h4 {
        font-size: 32px;
        text-align: center;
    }
    .contact-left-map {
        width: 100%;
        padding: 120px;
        box-sizing: border-box;
    }
    .contact-right-form {
        width: 100%;
    }
    .footer {
        margin-top: 50px;
        font-size: 18px;
    }
}

.primary-manu span{
    display: none;
}

@media (max-width:992px) {
    .header-logo {
        width: 100%;
        text-align: center;
    }
    .logo img {
        float: inherit;
    }
    .logo span {
        float: inherit;
        position: relative;
        top: -22px;
    }
    .primary-manu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .header-manu {
        width: 56%;
        height: 39px;
    }
    .primary-manu span {
        font-size: 30px;
        color: #6278df;
        cursor: pointer;
        display: block;
    }
    .header-button {
        width: 200px;
        text-align: right;
        position: absolute;
        right: 12px;
        top: 55px;
    }
    .banner-video-content h3 {
        font-size: 43px;
    }
    .banner-video-content p {
        font-size: 17px;
        margin-top: 30px;
    }
}

@media (max-width:768px) {
    .header-section {
        position: relative;
    }
    .banner-content p {
        font-size: 20px;
    }
    .banner-content h1 {
        font-size: 48px;
        margin: 37px 0;
    }
    .defult-btn {
        padding: 14px 16px;
        font-size: 17px;
    }
}


@media (max-width:465px) {
    .banner-section {
        padding: 120px 0;
    }
    .banner-content p {
        font-size: 17px;
    }
    .banner-content h1 {
        font-size: 48px;
    }
}
